apiVersion: apps/v1
kind: Deployment
metadata:
  name: www
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: www
  template:
    metadata:
      labels:
        app: www
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: www
          image: ghcr.io/${git_username}/${git_repo_name}/www:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
