apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
    - name: GitHub Container Registry
      prefix: ghcr.io
      api_url: https://ghcr.io
      credentials: env:GITHUB_CREDENTIALS
      default: true
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-image-updater
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argocd-image-updater
  template:
    metadata:
      labels:
        app: argocd-image-updater
    spec:
      serviceAccountName: argocd-image-updater
      containers:
        - name: argocd-image-updater
          image: argoprojlabs/argocd-image-updater:v0.12.2
          imagePullPolicy: Always
          args:
            - run
            - --interval=2m
            - --argocd-namespace=argocd
          env:
            - name: APPLICATIONS_API
              value: argocd
            - name: ARGOCD_GRPC_WEB
              value: "true"
            - name: ARGOCD_SERVER
              value: argocd-server.argocd.svc.cluster.local:443
            - name: ARGOCD_INSECURE
              value: "true"
            - name: GITHUB_CREDENTIALS
              valueFrom:
                secretKeyRef:
                  name: argocd-image-updater-github-creds
                  key: credentials
            - name: GIT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: argocd-image-updater-github-creds
                  key: git_username
            - name: GIT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: argocd-image-updater-github-creds
                  key: git_pat
          volumeMounts:
            - name: config
              mountPath: /app/config
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
      volumes:
        - name: config
          configMap:
            name: argocd-image-updater-config