---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import PublicationCard from '@/components/PublicationCard.astro'
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo.png'
import SocialIcons from '../components/SocialIcons.astro'
import { SOCIAL_LINKS } from '../consts'
import { getFeaturedProjects, getFeaturedPublications } from '../lib/data-utils'

const projects = await getFeaturedProjects()
const publications = await getFeaturedPublications()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="py-6">
    <div class="mb-6">
      <div
        class="mx-auto w-full max-w-32 overflow-hidden rounded-xl sm:shrink-0"
      >
        <Image
          src={logo}
          alt={'Fabian Piper'}
          width={512}
          height={512}
          class="object-cover"
        />
      </div>
    </div>

    <div class="prose text-center">
      <p class="mt-0">
        I'm a Software Engineer and Researcher based in Berlin, Germany. Below,
        you can find a selection of my <Link
          href="/projects"
          class="text-foreground"
          underline>projects</Link
        >, <Link href="/projects" class="text-foreground" underline
          >contributions</Link
        >, and <Link href="/publications" class="text-foreground" underline
          >publications</Link
        >.
      </p>
      <p>
        I'm always open to new connections and interesting discussions. Please
        feel free to <Link
          href="mailto:hello@fabianpiper.com"
          class="text-foreground"
          underline>reach out</Link
        >, I'd love to hear from you!
      </p>
    </div>

    <div class="mx-auto flex items-center justify-center">
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
  </section>

  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest projects</h2>
    <ul class="flex flex-col gap-y-4">
      {projects.map((project) => <ProjectCard entry={project} />)}
    </ul>
    <div class="flex justify-center">
      <Link
        href="/projects"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all projects <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>

  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest publications</h2>
    <ul class="flex flex-col gap-y-4">
      {
        publications.map((publication) => (
          <li>
            <PublicationCard entry={publication} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/publications"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all publications <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
