apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - operator.yaml
  - secret-store.yaml
  - vault-config.yaml

replacements:
  - source:
      kind: ConfigMap
      name: vault-config
      fieldPath: data.VAULT_OCID
    targets:
      - select:
          kind: ClusterSecretStore
          name: oci-vault-store
        fieldPaths:
          - spec.provider.oracle.vault
        options:
          delimiter: ""
