---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import PublicationCard from '../components/PublicationCard.astro'
import { getAllPublications } from '../lib/data-utils'

const publications = await getAllPublications()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Publications" />
  <Breadcrumbs
    items={[{ label: 'Publications', icon: 'lucide:book-open-text' }]}
  />
  {
    publications.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {publications.map((entry) => (
          <li>
            <PublicationCard entry={entry} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">No publications found.</p>
    )
  }
</Layout>
